@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&display=swap');

:root{
    /* paleta de cores  */
    --color1: #BFBFB8; /*letras*/
    --color2:#A3A69C;
    --color3:#4D5950;
    --color4:#35403A;
    --color5:#232625;
}
 
body {
    display: flex;
    justify-content: center;
    align-items:baseline ;
    margin: auto;
    height: 100vh;
    width: 100vh;
/*  shorthand - background
    color>image>position>repeat>[size]>attachment*/
    background: var(--color5) url(img/imgFundo.png) center center no-repeat fixed;
    background-size: cover ;
}

div {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

h1 {
    font-family: 'BBH Sans Bartle', sans-serif;
    text-align: center;
    color: var(--color1);
    text-shadow: 9px 9px 6px rgba(0, 0, 0, 0.5);
}

p {
    margin: auto;
    display: flex;
}

input#taskInput {
    text-align: center;
    color: var(--color1);
    padding: 1vh 15vw;
    border: none;
    border-radius: 010px 0px 0px 10px;
    background-image: linear-gradient(90deg, var(--color3), var(--color4), var(--color5) 130%);
}

input#taskInput::placeholder {
    color: var(--color1);
}

button {
    color: var(--color1);
    padding: 1vh 1vw;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(90deg, var(--color4), var(--color5));
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    opacity: 0.85;
    cursor: pointer;
    transition: 0.2s;
}

button:active {
    opacity: 0.7;
    cursor: pointer;
    transform: translatey(2px);
    transition: 0.1s;
}

ul {
    margin: auto;
    padding: 20px 0px;
    list-style: none;
    display: flex;   
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;    
}

li {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(90deg, var(--color3), var(--color4));
    margin: 3px;
    padding: 10px 15px;
    opacity: 0.8;
    color: var(--color1);
    border-radius: 10px;
}

span.imgsIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

img:hover{
    opacity: 0.5;
}

img:active{
    transform:translateY(2px) ;
}


li:hover {
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
    padding: 10px +40px ;
}

div#visibilityTask{
    position:fixed;
    top:200px;
    background: #BFBFB8;
    width: 50%;
    height: 300px;

}

dialog{
    background-image: linear-gradient(90deg, var(--color3),var(--color4));
    color: var(--color1);
    margin: auto;
    border: solid 2.5px var(--color5);
    border-radius: 10px;
    position: absolute;
    top: -50%; 
    width: 40vh;  
}

.containerLi{
    margin: 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.containerReadModal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0%;
    margin: 0%;
    font-size: large;
}

.containerModal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
}

.containerModal > input {
    background-image: linear-gradient(90deg, var(--color1),var(--color2));
    color: var(--color5);
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    border: 1.5px solid;
}

.containerModal > input:hover{
    background-image: linear-gradient(90deg, var(--color2),var(--color1));
}

.containerModal > input:focus{
    outline: none;
}